In [22]:
import pandas as pd
import numpy as np

In [23]:
years=[2012,2013,2014,2015,2016,2017,2018,2019]
types=['Advanced.csv','BattedBall.csv','Standard.csv']

In [24]:
hitterf='../data/FangraphsData/HitterData'
pitcherf='../data/FangraphsData/PitcherData'

In [25]:
#Read in all 3 sets of data for each year from fangraphs and put it all into one database
#standard,battedball,advanced are the 3 types
for i in years:
    adv=pd.read_csv(hitterf+'/'+str(i)+types[0])
    bbl=pd.read_csv(hitterf+'/'+str(i)+types[1])
    std=pd.read_csv(hitterf+'/'+str(i)+types[2])
    batter=pd.merge(adv,bbl,left_on='playerid',right_on='playerid')
    batter=pd.merge(batter,std,left_on='playerid',right_on='playerid')
    batter['season']=i
    if i==years[0]:
        hitdb=batter
    else:
        hitdb=pd.concat([hitdb,batter])

In [26]:
hitdb.shape

(10756, 63)

In [27]:
hitdb.columns

Index(['Name_x', 'Team_x', 'PA_x', 'BB%', 'K%', 'BB/K', 'AVG_x', 'OBP', 'SLG',
       'OPS', 'ISO', 'Spd', 'BABIP_x', 'UBR', 'wGDP', 'wSB', 'wRC', 'wRAA',
       'wOBA', 'wRC+', 'playerid', 'Name_y', 'Team_y', 'BABIP_y', 'GB/FB',
       'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'IFH', 'IFH%', 'BUH', 'BUH%',
       'Pull%', 'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'Name', 'Team',
       'G', 'AB', 'PA_y', 'H', '1B', '2B', '3B', 'HR', 'R', 'RBI', 'BB', 'IBB',
       'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS', 'AVG_y', 'season'],
      dtype='object')

In [28]:
#delete duplicate columns and establish consistent column naming
hitdb.drop(columns=['Name_y','Team_y','BABIP_y','Name','Team','PA_y','AVG_y'],inplace=True)
hitdb.rename(columns={'Name_x':'Name',
                     'Team_x':'Team',
                     'PA_x':'PA',
                     'AVG_x':'AVG',
                     'BABIP_x':'BABIP'},inplace=True);

In [29]:
#Read in all 3 sets of data for each year from fangraphs and put it all into one database
#standard,battedball,advanced are the 3 types
for i in years:
    adv=pd.read_csv(pitcherf+'/'+str(i)+types[0])
    bbl=pd.read_csv(pitcherf+'/'+str(i)+types[1])
    std=pd.read_csv(pitcherf+'/'+str(i)+types[2])
    pitcher=pd.merge(adv,bbl,left_on='playerid',right_on='playerid')
    pitcher=pd.merge(pitcher,std,left_on='playerid',right_on='playerid')
    pitcher['season']=i
    if i==years[0]:
        pitdb=pitcher
    else:
        pitdb=pd.concat([pitdb,pitcher])

In [30]:
pitdb.shape

(5895, 67)

In [31]:
pitdb.columns

Index(['Name_x', 'Team_x', 'K/9', 'BB/9', 'K/BB', 'HR/9', 'K%', 'BB%', 'K-BB%',
       'AVG', 'WHIP', 'BABIP_x', 'LOB%', 'ERA-', 'FIP-', 'xFIP-', 'ERA_x',
       'FIP', 'E-F', 'xFIP', 'SIERA', 'playerid', 'Name_y', 'Team_y',
       'BABIP_y', 'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'RS', 'RS/9',
       'Balls', 'Strikes', 'Pitches', 'Pull%', 'Cent%', 'Oppo%', 'Soft%',
       'Med%', 'Hard%', 'Name', 'Team', 'W', 'L', 'ERA_y', 'G', 'GS', 'CG',
       'ShO', 'SV', 'HLD', 'BS', 'IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB',
       'IBB', 'HBP', 'WP', 'BK', 'SO', 'season'],
      dtype='object')

In [32]:
#rename as above
pitdb.drop(columns=['Name_y','Team_y','BABIP_y','Name','Team','ERA_y'],inplace=True)
pitdb.rename(columns={'Name_x':'Name',
                     'Team_x':'Team',
                     'PA_x':'PA',
                     'ERA_x':'ERA',
                     'BABIP_x':'BABIP'},inplace=True);

In [33]:
hitdb.to_csv('../data/CleanedPlayerData/FangraphsHittersFinal.csv',index=False)
pitdb.to_csv('../data/CleanedPlayerData/FangraphsPitchersFinal.csv',index=False)

In [34]:
#read in statcast data
stathit=pd.read_csv('../data/CleanedPlayerData/StatcastHittersFinal.csv')
statpit=pd.read_csv('../data/CleanedPlayerData/StatcastPitchersFinal.csv')

In [35]:
stathit.columns

Index(['last_name', ' first_name', 'player_id', 'attempts', 'avg_hit_angle',
       'anglesweetspotpercent', 'max_hit_speed', 'avg_hit_speed', 'fbld', 'gb',
       'max_distance', 'avg_distance', 'avg_hr_distance', 'ev95plus',
       'ev95percent', 'barrels', 'brl_percent', 'brl_pa', 'season'],
      dtype='object')

In [36]:
statpit.columns

Index(['last_name', ' first_name', 'player_id', 'attempts', 'avg_hit_angle',
       'anglesweetspotpercent', 'max_hit_speed', 'avg_hit_speed', 'fbld', 'gb',
       'max_distance', 'avg_distance', 'avg_hr_distance', 'ev95plus',
       'ev95percent', 'barrels', 'brl_percent', 'brl_pa', 'season'],
      dtype='object')

In [37]:
stathit['Name']=stathit[' first_name']+' '+stathit['last_name']
statpit['Name']=statpit[' first_name']+' '+statpit['last_name']

In [38]:
stathit['Name'].head()

0         Jose Altuve
1     Alcides Escobar
2       Melky Cabrera
3         Ian Kinsler
4         Erick Aybar
Name: Name, dtype: object

In [39]:
#Eliminate spaces from statcast names
stathit['Name']=stathit['Name'].str.strip()
statpit['Name']=statpit['Name'].str.strip()

In [40]:
stathit['season'].value_counts()

2015    915
2018    911
2019    910
2016    909
2017    905
Name: season, dtype: int64

In [41]:
hitdb['Name'].head()

0     David Hernandez
1    Aneury Rodriguez
2       Shelby Miller
3        Sean Burnett
4         Dan Johnson
Name: Name, dtype: object

In [42]:
#merge statcast hitter data by name and season
FH=pd.merge(hitdb,stathit,left_on=['Name','season'],right_on=['Name','season'],how='outer')

In [43]:
FH[FH['Name']=='Mike Trout']

,Name,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,...,fbld,gb,max_distance,avg_distance,avg_hr_distance,ev95plus,ev95percent,barrels,brl_percent,brl_pa
33,Mike Trout,Angels,639.0,10.5%,21.8%,0.48,0.326,0.399,0.564,0.963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,Mike Trout,Angels,716.0,15.4%,19.0%,0.81,0.323,0.432,0.557,0.988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2615,Mike Trout,Angels,705.0,11.8%,26.1%,0.45,0.287,0.377,0.561,0.939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3951,Mike Trout,Angels,682.0,13.5%,23.2%,0.58,0.299,0.402,0.590,0.991,...,96.9,88.7,477.0,204.0,410.0,205.0,48.6,69.0,16.4,10.1
5294,Mike Trout,Angels,681.0,17.0%,20.1%,0.85,0.315,0.441,0.550,0.991,...,94.3,87.1,446.0,198.0,412.0,169.0,40.5,61.0,14.6,9.0
6652,Mike Trout,Angels,507.0,18.5%,17.8%,1.04,0.306,0.442,0.629,1.071,...,94.2,84.1,448.0,199.0,411.0,124.0,39.2,42.0,13.3,8.3
7999,Mike Trout,Angels,608.0,20.1%,20.4%,0.98,0.312,0.460,0.628,1.088,...,95.9,85.2,459.0,212.0,407.0,162.0,46.2,58.0,16.5,9.5
9379,Mike Trout,Angels,600.0,18.3%,20.0%,0.92,0.291,0.438,0.645,1.083,...,94.9,84.2,473.0,233.0,419.0,154.0,44.3,66.0,18.6,11.0

In [44]:
FH.columns

Index(['Name', 'Team', 'PA', 'BB%', 'K%', 'BB/K', 'AVG', 'OBP', 'SLG', 'OPS',
       'ISO', 'Spd', 'BABIP', 'UBR', 'wGDP', 'wSB', 'wRC', 'wRAA', 'wOBA',
       'wRC+', 'playerid', 'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB',
       'IFH', 'IFH%', 'BUH', 'BUH%', 'Pull%', 'Cent%', 'Oppo%', 'Soft%',
       'Med%', 'Hard%', 'G', 'AB', 'H', '1B', '2B', '3B', 'HR', 'R', 'RBI',
       'BB', 'IBB', 'SO', 'HBP', 'SF', 'SH', 'GDP', 'SB', 'CS', 'season',
       'last_name', ' first_name', 'player_id', 'attempts', 'avg_hit_angle',
       'anglesweetspotpercent', 'max_hit_speed', 'avg_hit_speed', 'fbld', 'gb',
       'max_distance', 'avg_distance', 'avg_hr_distance', 'ev95plus',
       'ev95percent', 'barrels', 'brl_percent', 'brl_pa'],
      dtype='object')

In [45]:
#merge statcast pitcher data by name and season
FP=pd.merge(pitdb,statpit,left_on=['Name','season'],right_on=['Name','season'],how='outer')

In [46]:
FP.columns

Index(['Name', 'Team', 'K/9', 'BB/9', 'K/BB', 'HR/9', 'K%', 'BB%', 'K-BB%',
       'AVG', 'WHIP', 'BABIP', 'LOB%', 'ERA-', 'FIP-', 'xFIP-', 'ERA', 'FIP',
       'E-F', 'xFIP', 'SIERA', 'playerid', 'GB/FB', 'LD%', 'GB%', 'FB%',
       'IFFB%', 'HR/FB', 'RS', 'RS/9', 'Balls', 'Strikes', 'Pitches', 'Pull%',
       'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'W', 'L', 'G', 'GS', 'CG',
       'ShO', 'SV', 'HLD', 'BS', 'IP', 'TBF', 'H', 'R', 'ER', 'HR', 'BB',
       'IBB', 'HBP', 'WP', 'BK', 'SO', 'season', 'last_name', ' first_name',
       'player_id', 'attempts', 'avg_hit_angle', 'anglesweetspotpercent',
       'max_hit_speed', 'avg_hit_speed', 'fbld', 'gb', 'max_distance',
       'avg_distance', 'avg_hr_distance', 'ev95plus', 'ev95percent', 'barrels',
       'brl_percent', 'brl_pa'],
      dtype='object')

In [47]:
FP[FP['Name']=='Clayton Kershaw']

,Name,Team,K/9,BB/9,K/BB,HR/9,K%,BB%,K-BB%,AVG,...,fbld,gb,max_distance,avg_distance,avg_hr_distance,ev95plus,ev95percent,barrels,brl_percent,brl_pa
69,Clayton Kershaw,Dodgers,9.05,2.49,3.63,0.63,25.4%,7.0%,18.4%,0.204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
707,Clayton Kershaw,Dodgers,8.85,1.98,4.46,0.42,25.6%,5.7%,19.8%,0.192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1361,Clayton Kershaw,Dodgers,10.85,1.41,7.71,0.41,31.9%,4.1%,27.8%,0.194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,Clayton Kershaw,Dodgers,11.64,1.62,7.17,0.58,33.8%,4.7%,29.1%,0.193,...,89.9,81.7,440.0,149.0,400.0,131.0,24.2,18.0,3.3,2.0
2783,Clayton Kershaw,Dodgers,10.39,0.66,15.64,0.48,31.6%,2.0%,29.6%,0.183,...,90.9,82.8,433.0,155.0,388.0,98.0,27.3,16.0,4.5,2.9
3593,Clayton Kershaw,Dodgers,10.39,1.54,6.73,1.18,29.8%,4.4%,25.3%,0.210,...,91.8,79.4,443.0,167.0,408.0,116.0,26.9,28.0,6.3,4.1
4405,Clayton Kershaw,Dodgers,8.65,1.62,5.34,0.95,23.9%,4.5%,19.4%,0.225,...,92.2,84.6,479.0,156.0,408.0,163.0,35.4,25.0,5.4,3.8
5284,Clayton Kershaw,Dodgers,9.54,2.07,4.61,1.41,26.8%,5.8%,21.0%,0.219,...,93.1,83.9,442.0,164.0,406.0,153.0,33.9,32.0,6.8,4.5

In [48]:
#relabel columns with hitter and pitcher designations so stats can be referenced when the entire database is merged
Fpc=['p'+i for i in FP.columns]
Hpc=['h'+i for i in FH.columns]

In [49]:
Fpc[0:10]

['pName',
 'pTeam',
 'pK/9',
 'pBB/9',
 'pK/BB',
 'pHR/9',
 'pK%',
 'pBB%',
 'pK-BB%',
 'pAVG']

In [50]:
FH.columns=Hpc
FP.columns=Fpc

In [51]:
FH.head()

,hName,hTeam,hPA,hBB%,hK%,hBB/K,hAVG,hOBP,hSLG,hOPS,...,hfbld,hgb,hmax_distance,havg_distance,havg_hr_distance,hev95plus,hev95percent,hbarrels,hbrl_percent,hbrl_pa
0,David Hernandez,Diamondbacks,1.0,0.0%,0.0%,0.0,1.000,1.000,1.000,2.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aneury Rodriguez,Astros,1.0,0.0%,0.0%,0.0,1.000,1.000,1.000,2.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shelby Miller,Cardinals,3.0,0.0%,0.0%,0.0,0.667,0.667,1.000,1.667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sean Burnett,Nationals,1.0,100.0%,0.0%,1.0,0.000,1.000,0.000,1.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dan Johnson,White Sox,31.0,29.0%,9.7%,3.0,0.364,0.548,0.818,1.367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
FH.to_csv('../data/CleanedPlayerData/MergedHitters.csv',index=False)
FP.to_csv('../data/CleanedPlayerData/MergedPitchers.csv',index=False)