In [1]:
import pandas as pd
import numpy as np

In [6]:
output_plays = open('./ANAplays.csv', 'w')
with open('./2019ANA.EVA', 'r') as f:
    game_id = f.readline().split(',')[-1]
    for line in f.readlines():
        if line.split(',')[0] in ['id']:
            game_id = line.split(',')[-1]
        if line.split(',')[0] in ['play']:
            output_plays.write(line.replace('\n', '') + ',' + game_id.replace('\n', '') + '\n')

In [22]:
ana=pd.read_csv('./ANAplays.csv',header=None)

In [23]:
ana

         0  1  2         3   4      5               6             7
0     play  1  0  choos001  22  FBBCH              HP  ANA201904040
1     play  1  0  odorr001  12   BFSS               K  ANA201904040
2     play  1  0  andre001  12   CCBX        S9/L.1-2  ANA201904040
3     play  1  0  gallj002   0      X  HR/8/F.2-H;1-H  ANA201904040
4     play  1  0  cabra002  30   BBBB               W  ANA201904040
...    ... .. ..       ...  ..    ...             ...           ...
7459  play  5  0  marij002  10   .*BX           13/G-  ANA201909290
7460  play  5  1  lastt001   0    NaN              NP  ANA201909290
7461  play  5  1  lastt001   0    NaN              NP  ANA201909290
7462  play  5  1  lastt001   0    NaN              NP  ANA201909290
7463  play  5  1  lastt001   0    NaN              NP  ANA201909290

[7464 rows x 8 columns]

In [24]:
cle=pd.read_csv()

''