In [2]:
import pandas as pd
import numpy as np

In [3]:
steamerp=pd.read_csv('./data/CleanedPlayerData/SteamerP.csv')
steamerp.head()

,Name,Team,W,L,ERA,GS,G,SV,IP,H,...,SO,BB,WHIP,K/9,BB/9,FIP,WAR,RA9-WAR,ADP,playerid
0,Jacob deGrom,Mets,14,9,3.13,32,32,0,205.0,168,...,258,50,1.06,11.30,2.17,3.02,6.1,5.4,8.1,10954
1,Gerrit Cole,Yankees,15,8,3.26,32,32,0,202.0,155,...,280,57,1.04,12.45,2.52,3.17,6.0,5.8,6.3,13125
2,Max Scherzer,Nationals,14,8,3.28,31,31,0,195.0,155,...,257,48,1.04,11.91,2.22,3.19,5.5,5.7,15.2,3137
3,Stephen Strasburg,Nationals,14,9,3.59,32,32,0,200.0,178,...,228,57,1.17,10.26,2.55,3.52,4.8,4.8,30.5,10131
4,Justin Verlander,Astros,14,7,3.46,29,29,0,184.0,149,...,239,42,1.04,11.70,2.05,3.43,4.7,4.6,20.1,8700

In [4]:
steamerp.columns

Index(['Name', 'Team', 'W', 'L', 'ERA', 'GS', 'G', 'SV', 'IP', 'H', 'ER', 'HR',
       'SO', 'BB', 'WHIP', 'K/9', 'BB/9', 'FIP', 'WAR', 'RA9-WAR', 'ADP',
       'playerid'],
      dtype='object')

In [5]:
steamerh=pd.read_csv('./data/CleanedPlayerData/SteamerH.csv')
steamerh.head()

,Name,Team,G,PA,AB,H,2B,3B,HR,R,...,wRC+,BsR,Fld,-1.2,Off,Def,WAR,-1.3,ADP,playerid
0,Mike Trout,Angels,150,679,530,157,30,3,44,127,...,173,3.2,-1.7,NaN,66.9,0.6,8.9,NaN,2.6,10155
1,Alex Bregman,Astros,150,654,546,157,38,2,32,103,...,150,0.0,-1.8,NaN,41.9,0.9,6.4,NaN,16.0,17678
2,Francisco Lindor,Indians,150,696,619,179,40,2,36,114,...,125,0.7,7.8,NaN,23.0,15.3,6.1,NaN,7.6,12916
3,Cody Bellinger,Dodgers,150,639,543,156,30,3,42,100,...,147,1.2,0.8,NaN,40.9,0.7,6.0,NaN,4.2,15998
4,Mookie Betts,Dodgers,150,695,595,167,39,3,32,114,...,132,4.7,12.7,NaN,33.8,5.3,6.0,NaN,5.7,13611

In [6]:
steamerh.columns

Index(['Name', 'Team', 'G', 'PA', 'AB', 'H', '2B', '3B', 'HR', 'R', 'RBI',
       'BB', 'SO', 'HBP', 'SB', 'CS', '-1', 'AVG', 'OBP', 'SLG', 'OPS', 'wOBA',
       '-1.1', 'wRC+', 'BsR', 'Fld', '-1.2', 'Off', 'Def', 'WAR', '-1.3',
       'ADP', 'playerid'],
      dtype='object')

In [7]:
steamerp.shape,steamerh.shape

((4947, 22), (3853, 33))